<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/jaimalbhairavia/IdeaProjects/FakeBarChallenge/src/main/java/FakeBar.java">
        <classes>
            <class name="FakeBar">
            </class>
        </classes>
    </test>
</suite>